{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <br>

    <div id="formulario" style="display: none">
        {{ form_start(form, {'attr': {'class': 'w-50 mx-auto my-5'}}) }}
        <div class="row">
            <div class="col">

                {{ form_label(form.title) }}
                {{ form_errors(form.title) }}
                {{ form_widget(form.title) }}

            </div>

        </div>
        <div class="row">

            <div class="col">

                {{ form_label(form.content) }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content) }}

            </div>
        </div>
        <div class="row">

            <div class="col">

                {{ form_label(form.color) }}
                {{ form_errors(form.color) }}
                {{ form_widget(form.color) }}

            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-end">

                {{ form_widget(form.submit) }}

            </div>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="row">
        <button id="form01" type="button" class="btn btn-outline-success" onclick="Aparicionformulario()">Crear</button>
    </div>
    <div class="row row-cols-3 row-cols-md-4 g-4">
        {% for note in notes %}
        <div class="col">
            <div class="card text-bg-{{ note.color }} my-2 h-100" style="width: 18rem;">
                <div class="card-header d-flex justify-content-between">{{ note.title }}<a href="{{ path('app_note_close', {'idNota': note.id}) }}" class="btn-close" aria-label="Close"></a></div>
                <div class="card-body">
                    <p class="card-text align-top">{{ note.content}}</p>
                    <small class="text-body-secondary align-bottom">Última modificación {{ note.getModificationDate | date('Y-m-d H:i:s') }}</small>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% block javascripts %}
        {{ parent() }}

        <script src="{{ asset('asset/js/formularioNotas.js') }}"></script>
    {% endblock %}
{% endblock %}
