<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('../vendor/twbs/bootstrap/dist/css/bootstrap.css') }}" type="text/css">
            <link rel="stylesheet" href="{{ asset('asset/css/fontawesome-free-6.5.1-web/css/all.css') }}">
        {% endblock %}


    </head>
    <body class="container">
        {% block nav %}
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ path('app_note') }}">projecTask</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">

                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Etiquetas
                                </a>
                                <ul id="tagsDropdown" class="dropdown-menu">
                                </ul>
                            </li>
                        </ul>

                        <form class="d-flex me-5" role="search">
                            <input class="form-control me-2" type="search" placeholder="Buscar por titulo" aria-label="Search" onkeyup="buscador(this)">
                            <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>

                        </form>
                        <div class="d-flex ms-5">

                            <a class="btn w-100 ms-3" href="#"><i class="fa-solid fa-user"></i></a>
                            <a class="btn w-100 ms-1" href="{{ path('app_logout') }}" role="button"><i class="fa-solid fa-right-from-bracket" style="color: #ff0000;"></i></a>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('../vendor/twbs/bootstrap/dist/js/bootstrap.js') }}"></script>
            <script src="{{ asset('../vendor/twbs/bootstrap/dist/js/bootstrap.bundle.js') }}"></script>
            <script src="{{ asset('asset/js/buscador.js') }}"></script>

        {% endblock %}
    </body>
</html>
